body {
  font-family: Arial, sans-serif;
  font-family: "Bree Serif", serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template: repeat(6, auto) / 100%;
  padding: 0 0.8% 0.8%;
  background-color: rgb(216, 243, 220);
  color: #1b4332;
  grid-template-areas:
    "header-container"
    "nav"
    "section1"
    "section2"
    "aside"
    "footer";
}

/*  ------------CÓDIGO PARA EL HEADER-----------*/
.header-container {
  background-color: #74c69d;
  color: #fff;
  padding: 0.4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header-container;
}

.header-container img {
  width: 100%;
  height: auto;
}

.encabezado-centro h1 {
  font-size: 42px;
  margin: 0;
}


/*  ------------CÓDIGO PARA EL NAV-----------*/

nav {
  background-color: #1b4332;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: nav;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover, .btn-lang:hover{
  padding: 0.2rem;
  background-color: #74c69d;
  border-radius: 5px;
  color: #081c15;
  ;
}

.container-buttons-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.button-header button, .btn-lang, .opiniones, .button-st {
  width: 9em;
  margin-right: 0.5vw;
  font-family: Arial, sans-serif;
  font-family: "Bree Serif", serif;
  border-radius: 5px;
}

.container-buttons-header button:hover, .opiniones:hover, .button-st:hover{
  background-color: #081c15;
  color: white;
  border-radius: 5px;
}

/*  ------------CÓDIGO PARA SECTION1-----------*/
.section1 {
  display: flex;
  padding: 10px;
  grid-area: section1;
  background-color: #52b788;
}

.section1 div a, .link {
  text-decoration: none;
  color: #1b4332;
  background-color: #74c69d;
  padding: 2px;
  border: solid 1px #1b4332;
}

.section1 div a:hover, .link:hover {
  background-color: #1b4332;
  color: white;
}

.section2 {
  grid-area: section2;
  background-color: #95d5b2;
}

.section1 h1,
.section2 h1,
.aside h1, 
.intro h1,
.section1-ingles h1
{
  text-align: center;
}

.aside {
  grid-area: aside;
  background-color: #2d6a4f;
  color: #b7e4c7;
  text-align: center;
}

/*  ------------CÓDIGO PARA FOOTER-----------*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #081c15;
  color: #fff;
  text-align: center;
  padding: 0px 25px;
  grid-area: footer;
  margin-top: -1px;
}

.footer-icons {
  display: flex;
  column-gap: 5px;
}

.footer-icons a {
  color: white;
  margin-right: 1vw;
  font-size: 18px;
}

.footer-icons a:hover {
  color: #74c69d;
}


/*  ------------ CÓDIGO PARA INTRODUCCIÓN-PROG -----------*/

.section2-introprograma {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
  padding: 10px;
  background-color: #95d5b2;
}

.section2-detalle h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.section2-detalle h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center
}

.section2-detalle h4 {
  line-height: 1.0;
  margin-left: 5%; 
}

.section2-introimg img {
  border-radius: 5%;
  max-width: 90%;
  height: auto;
  align-items: center; 
  padding-left: 1.5rem;
}

.informacion-destacada a, .link{
  text-decoration: none;
  color: #b7e4c7;

}
.informacion-destacada a:hover, .link:hover{
  background-color: #1b4332;
  color: white;
  padding: 2px;
}


/*  ------------FIN CÓDIGO PARA INTRODUCCIÓN-PROG ------------*/


/*  ------------CÓDIGO PARA DESARRLLO WEB ------------*/

.section2-desarrolloweb {
  display: flex;
  background-color: #95d5b2; 
  /* padding: 0.5rem;  */
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
}

.imagenweb img {
  width: 17rem;
  height: 15rem;
}

.seccion2-descripcion {
  /* padding: 20px; */
  text-align: center; 
}

.seccion2-descripcion h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.seccion2-descripcion h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.seccion2-desarrollo p {
  font-size: 14px;
  line-height: 1.5;
  text-align: center; 
}
/*  ------------CÓDIGO PARA CURSOS E IDIOMAS-----------*/
.container-lang img{
  width: 10rem;
  height: 9rem;
}

.container-lang, .container-courses, .index-courses {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  background-color:#1b4332 ;
 
}

.container-lang .ingles,
.container-lang .frances,
.container-lang .portugues,
.container-courses .intro-prog,
.container-courses .desarrollo,
.container-courses .course-lang,
.index-courses .intro,
.index-courses .promo,
.index-courses .testimonios
{
  flex: 1; 
  max-width: 33%; 
  margin:0.2rem; 
  text-align: center;
  background: linear-gradient(to bottom, #74c69d,#2d6a4f);
  color: white;
  padding: 20px;
  /* height: 20rem; */
  
}


.container-courses .intro-prog,
.container-courses .desarrollo,
.container-courses .course-lang{
  color: #081c15;
  background-color:#52b788;
}


.btn-lang a{
  text-decoration: none;
  color: #1b4332;
}

.title{
  text-align: center;
  margin: 0rem;
  padding: 1rem;
  background: radial-gradient(circle,#74c69d,#1b4332);
}


 
.idioma-content{
  background-color:#52b788;
  margin: 0;
  
}
.idioma-content h2, .idioma-content h3, .idioma-content p{
  margin: 0.2rem;
  padding-left: 5rem;
}
.idioma-content  ul{ 
    margin-left: 5rem; 
  }
section.idioma-content{
  padding: 10px;
}

/*  ------------ CÓDIGO PARA INICIAR SESIÓN, ADMINISTRACIÓN -----------*/
.h1-form-session, .h1_administracion{
  padding: 2rem 0;
  text-align: center;
  margin: 0;
  background-color: #95d5b2;
}

.form-sesion{
  background-color: #95d5b2;
}

.container-user, .container-password{
  border: 0.15rem solid #1b4332;
  border-radius: 10px;
  padding: 0.4rem;
  /* width: 35vw; */
}


.inicio_input1{
  width: 50%;
  height: 5vh;
  margin-left: 25px;
}
.container-password{
  display: inline-flex;       
  margin: 0.5rem 0.2rem;
  
}

.icon{
  height: 2rem;
  cursor: pointer;
}

.container-user #username{
  height: 1.5rem;
 
}

.form-sesion, .form-modif{
  /* height: 20rem; */
  display: flex;
  justify-content: center;
    height: 40vw;
}

.sign-in{
  margin: 1rem;
}

.container-admin{
  border: 0.15rem solid #1b4332;
  border-radius: 10px;
  padding: 0.4rem;
  width: 35vw; 
  text-align: center;
  margin-bottom: 2%;
  
}

.container-admin a{
  text-decoration: none;
  color: #000;
  font-size: x-large;
}

/*------------opiniones en index --------*/
.datos{
  padding: 0.4rem;

}

.opiniones{
  width: 12rem;
  background-color: #52b788;
}
/*  ------------CÓDIGO formularios inscripciones-----------*/
.button-st{
  background-color: #52b788;
}


/*  ------------CÓDIGO breakpoints-----------*/

@media (min-width: 720px) {
  .container {
    display: grid;
    grid-template: 0.7fr 0.4fr 4.2fr 0.7fr / 30% 50% 20%;
    padding: 0;
    margin: 0;
    background-color: rgb(216, 243, 220);
    color: #1b4332;
    grid-template-areas:
      "header-container header-container header-container"
      "nav nav nav"
      "section1 section2 aside"
      "footer footer footer";
  }

}


@media (max-width: 720px) {
  .container-lang .ingles,
  .container-lang .frances,
  .container-lang .portugues,
.container-courses .intro-prog,
.container-courses .desarrollo,
.container-courses .course-lang {
    max-width: 100%; 
    
  }

 #usuario.inicio_input1{
  height: 28px;
 }

 .encabezado-centro{
  display: none;
 }


  .encabezado-centro h1 {
    font-size: 38px;
    margin: 0;
  }

  .container-buttons-header {
    flex-direction: column;
    gap: 5px;
  }

  .opiniones, #contenido {
    margin-bottom: 20px; 
}

}





